h1 {
    color:cyan
    
}

/* * {
    border: solid;
} */

.header{
    background-color:brown
    
}
.menu{
    color:darkgray;
    background-color: darkseagreen;
}
.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}
.header *{
    border: solid;
}